<!DOCTYPE html>
<html lang="en">

<head>
    <title>Profile</title>
</head>

<body>
    <%- include('header') %>
    <h1>Welcome To your profile <%=user.name%>
    </h1>
    <p>EamilId = <%= user.email %></p>
    <ul>
        <% user.skills.forEach((item)=>{%>
        <li><%= item %></li>
         <% }) %>
    </ul>
</body>

</html>